<footer>
    <div style="background-color: #2A4759" class="container-fluid">
        <div class="row">
            <div class="col col-10">
                <p style="color: #a7acb1">created by Hana-K-cloud</p>
            </div>
            <!--social media icons-->
            <div class="col col-2 btn-group align-right gap-2">
                <a href="https://github.com/Hana-K-cloud/">
                    <button type="button" class="btn">
                        <i style="color: #a7acb1" class="bi bi-github"></i>
                    </button>
                </a>
                <button type="button" class="btn">
                    <i style="color: #a7acb1" class="bi bi-linkedin"></i>
                </button>
                <button type="button" class="btn">
                    <i style="color: #a7acb1" class="bi bi-twitter-x"></i>
                </button>
            </div>
        </div>
    </div>
</footer>
