{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my_profile</title>
    <link rel="stylesheet" href="{% static 'my_app/bootstrap/css/min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static 'my_app/bootstrap/js/min.js' %}"></script>
    <script src="{% static 'my_app/bootstrap/js/bundle.min.js' %}"></script>
    <script src="{% static 'my_app/custom.js' %}"></script>
    <style>
        .hand-writing {
            font-family: cursive;
        }

        .quote-container {
            height: 560px; /* ارتفاع ناحیه نمایش */
            overflow-y: auto; /* فعال کردن اسکرول عمودی */
            padding-right: 10px;
        }

        .quote-box {
            background-color: #EEEEEE;
            color: black;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .quote-icon {
            font-size: 30px;
            display: block;
            margin-bottom: 10px;
        }

        .quote-author {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include 'my_app/header.html' %}
<div>this is my profile</div>
<div class=" mt-4 mb-5 container">
    <div class="row">
        <div class="col-md-4 hand-writing">
            <h2>we are here to learn super super fun facts about the world,fun hacks and ...</h2><br>
            <h2>join us and share your own experience with everyone</h2>
            {% if user.is_authenticated %}
                <button style="background-color: #15d1a2; " data-bs-toggle="modal" data-bs-target="#addFactModal"
                        class="btn btn-circle btn-lg mt-4 hand-writing"><i class="bi bi-plus">add new fact</i>
                </button>
            {% endif %}
            <!-- Modal -->
            {% if user.is_authenticated %}
                <div class="modal fade" id="addFactModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> add new fact</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="#addFactForm" action="{% url 'add_fact' user.id %}">
                                    {% csrf_token %}
                                    <table class="table table-bordered">
                                        {{ add_fact.as_table }}
                                        <tr>
                                            <td colspan="2">
                                                <button type="submit" class="btn btn-primary">add fact</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="quote-container">
                {% for fact in facts %}
                    {% if fact.user == my_user %}
                        <!---fact--->
                        <div class="quote-box">
                            <span class="quote-icon">{{ fact.topic }}</span>
                            <p class="mt-3 hand-writing">{{ fact.fact }}</p>
                            <hr class="bg-secondary border-2 border-top border-secondary my-3">
                            <div class="row">
                                <div class="quote-author col-10 hand-writing">{{ fact.user }}</div>

                                <a class="col-2">
                                    <button type="button" class="btn">
                                        <i style="color: #a7acb1" class="bi bi-bookmark"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% include 'my_app/footer.html' %}
</body>
</html>